<div class="card bg-dark text-white m-5">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <div class="input-group">
            <input (change)="seleccionarFoto($event)" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                aria-label="Upload">
                
            <button (click)="subirFoto()" class="btn btn-outline-success" type="button" id="inputGroupFileAddon04">Enviar</button>
        </div>
    </div>

    
</div>